
.luxury-products-section {
    position: relative;
    background-color: #c6edd2;
    min-height: 50vh;
    overflow: hidden;
  }
  
  .overlay {
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.1);
  }
  
  .luxury-container {
    position: relative;
    margin: 0 auto;
    /* padding: 4rem; */
    /* max-width: 1200px; */
    padding: 0 5rem;

  }
  
  .content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
  }
  
  .left-content {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .products-tag {
    color: #37b065;
    font-weight: 500;
    font-size: 18px;
    z-index: 1;
  }
  
  .lux-heading {
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
  }
  
  .description {
    color: #718096;
    max-width: 300px;
  }
  
  .explore-btn {
    background-color: #37b065;
    color: white;
    padding: 0.75rem 2rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Outfit', sans-serif;
    width: 40%;
    transition: background-color 0.3s ease;
  }
  
  .explore-btn:hover {
    background-color: #2d8f51;
  }
  
  .right-content {
    position: relative;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  
  .product-item img,
  .product-item-large img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .product-item-large {
    grid-column: span 2;
  }
  
  .curved-border {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -4rem;
    width: 120%;
    background: white;
    border-radius: 0 100px 100px 0;
    z-index: -1;
    transform: translateX(33%);
  }

  @media (max-width: 768px) {
    .luxury-container {
      padding: 5rem;
      height: 120vh;
    }

    .content-grid{
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
    }

    .explore-btn{
      width: 100%;
    }

    .products{
      height: 60%;
      margin-left: 40px;
    }

  }
  